-- CreateEnum
CREATE TYPE "DrivetrainType" AS ENUM ('FWD', 'RWD', 'AWD', 'FOURWD');

-- AlterTable
ALTER TABLE "Brand" ADD COLUMN     "country" TEXT;

-- CreateTable
CREATE TABLE "NewCar" (
    "id" TEXT NOT NULL,
    "brandId" TEXT NOT NULL,
    "modelId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "priceMin" DOUBLE PRECISION NOT NULL,
    "priceMax" DOUBLE PRECISION,
    "bodyType" TEXT,
    "engine" TEXT,
    "horsepower" INTEGER,
    "torque" TEXT,
    "fuelType" "FuelType" NOT NULL,
    "transmission" "Transmission" NOT NULL,
    "mileage" TEXT,
    "seating" INTEGER,
    "topSpeed" INTEGER,
    "safetyRating" DOUBLE PRECISION,
    "airbags" INTEGER,
    "infotainment" TEXT,
    "features" TEXT[],
    "description" TEXT NOT NULL,
    "launchDate" TIMESTAMP(3),
    "featured" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "NewCar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CarDimensions" (
    "id" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,
    "length" INTEGER,
    "width" INTEGER,
    "height" INTEGER,
    "wheelbase" INTEGER,
    "groundClearance" INTEGER,
    "bootSpace" INTEGER,
    "doors" INTEGER,
    "seating" INTEGER,

    CONSTRAINT "CarDimensions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CarEngineDetails" (
    "id" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,
    "type" TEXT,
    "turbocharged" BOOLEAN NOT NULL DEFAULT false,
    "displacement" INTEGER,
    "cylinders" INTEGER,
    "drivetrain" "DrivetrainType",
    "fuelSystem" TEXT,
    "valveMechanism" TEXT,
    "maxSpeed" INTEGER,

    CONSTRAINT "CarEngineDetails_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CarTransmissionDetails" (
    "id" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,
    "type" TEXT,
    "gearbox" TEXT,

    CONSTRAINT "CarTransmissionDetails_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CarSteering" (
    "id" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,
    "type" TEXT,
    "turningRadius" DOUBLE PRECISION,
    "powerAssisted" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "CarSteering_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CarSuspension" (
    "id" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,
    "front" TEXT,
    "frontBrakes" TEXT,
    "rear" TEXT,
    "rearBrakes" TEXT,

    CONSTRAINT "CarSuspension_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CarWheels" (
    "id" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,
    "wheelType" TEXT,
    "tyreSize" TEXT,
    "wheelSize" TEXT,
    "pcd" TEXT,
    "spareTyreSize" TEXT,

    CONSTRAINT "CarWheels_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CarFuelEconomy" (
    "id" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,
    "cityMileage" DOUBLE PRECISION,
    "highwayMileage" DOUBLE PRECISION,
    "tankCapacity" DOUBLE PRECISION,

    CONSTRAINT "CarFuelEconomy_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NewCarImage" (
    "id" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "newCarId" TEXT NOT NULL,

    CONSTRAINT "NewCarImage_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "NewCar_brandId_idx" ON "NewCar"("brandId");

-- CreateIndex
CREATE INDEX "NewCar_modelId_idx" ON "NewCar"("modelId");

-- CreateIndex
CREATE INDEX "NewCar_featured_idx" ON "NewCar"("featured");

-- CreateIndex
CREATE INDEX "NewCar_fuelType_idx" ON "NewCar"("fuelType");

-- CreateIndex
CREATE INDEX "NewCar_bodyType_idx" ON "NewCar"("bodyType");

-- CreateIndex
CREATE INDEX "NewCar_year_idx" ON "NewCar"("year");

-- CreateIndex
CREATE UNIQUE INDEX "NewCar_name_year_brandId_key" ON "NewCar"("name", "year", "brandId");

-- CreateIndex
CREATE UNIQUE INDEX "CarDimensions_newCarId_key" ON "CarDimensions"("newCarId");

-- CreateIndex
CREATE UNIQUE INDEX "CarEngineDetails_newCarId_key" ON "CarEngineDetails"("newCarId");

-- CreateIndex
CREATE UNIQUE INDEX "CarTransmissionDetails_newCarId_key" ON "CarTransmissionDetails"("newCarId");

-- CreateIndex
CREATE UNIQUE INDEX "CarSteering_newCarId_key" ON "CarSteering"("newCarId");

-- CreateIndex
CREATE UNIQUE INDEX "CarSuspension_newCarId_key" ON "CarSuspension"("newCarId");

-- CreateIndex
CREATE UNIQUE INDEX "CarWheels_newCarId_key" ON "CarWheels"("newCarId");

-- CreateIndex
CREATE UNIQUE INDEX "CarFuelEconomy_newCarId_key" ON "CarFuelEconomy"("newCarId");

-- CreateIndex
CREATE INDEX "NewCarImage_newCarId_idx" ON "NewCarImage"("newCarId");

-- CreateIndex
CREATE INDEX "Brand_name_idx" ON "Brand"("name");

-- CreateIndex
CREATE INDEX "CarModel_brandId_idx" ON "CarModel"("brandId");

-- CreateIndex
CREATE INDEX "City_name_idx" ON "City"("name");

-- CreateIndex
CREATE INDEX "Listing_brandId_idx" ON "Listing"("brandId");

-- CreateIndex
CREATE INDEX "Listing_modelId_idx" ON "Listing"("modelId");

-- AddForeignKey
ALTER TABLE "NewCar" ADD CONSTRAINT "NewCar_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES "Brand"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NewCar" ADD CONSTRAINT "NewCar_modelId_fkey" FOREIGN KEY ("modelId") REFERENCES "CarModel"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CarDimensions" ADD CONSTRAINT "CarDimensions_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CarEngineDetails" ADD CONSTRAINT "CarEngineDetails_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CarTransmissionDetails" ADD CONSTRAINT "CarTransmissionDetails_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CarSteering" ADD CONSTRAINT "CarSteering_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CarSuspension" ADD CONSTRAINT "CarSuspension_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CarWheels" ADD CONSTRAINT "CarWheels_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CarFuelEconomy" ADD CONSTRAINT "CarFuelEconomy_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "NewCarImage" ADD CONSTRAINT "NewCarImage_newCarId_fkey" FOREIGN KEY ("newCarId") REFERENCES "NewCar"("id") ON DELETE CASCADE ON UPDATE CASCADE;

